.hidden {
  display: none;
}

body {
  height: 100vh;
  background: url("../img/1.jpg") no-repeat;
  background-size: cover;
  background-color: rgb(255, 81, 0);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: rgb(251, 255, 0);
  font-size: 30px;
}
